In [3]:
#IMPORT LIBRARY
import pandas as pd

In [5]:
#Empty df
df= pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [14]:
city = ['Berlin', 'Dhaka', 'Gazipur']

In [15]:
city

['Berlin', 'Dhaka', 'Gazipur']

In [16]:
df=pd.DataFrame(city)
df

         0
0   Berlin
1    Dhaka
2  Gazipur

In [18]:
type

SyntaxError: invalid syntax (1662320939.py, line 1)

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
type(city)

list