In [9]:
!pip install gspread

Requirement already satisfied: gspread in c:\users\power\anaconda3\lib\site-packages (6.1.2)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\power\anaconda3\lib\site-packages (from gspread) (2.34.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\power\anaconda3\lib\site-packages (from gspread) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\power\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\power\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\power\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\power\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\power\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\power\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\power\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\power\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\power\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\power\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\power\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.6.2)

In [11]:
import pandas as pd
import gspread

In [12]:
gc = gspread.service_account(filename="C:\\Users\\power\\Downloads\\peaceful-crane-434511-s2-eb2d7db228e1.json")

In [13]:
gc

In [14]:
sheet= gc.open_by_url('https://docs.google.com/spreadsheets/d/1lvpShUsaGi-_g7bURqHMB2piCDculTVr6vFxrINgIBo/edit?usp=sharing')

In [15]:
sheet

In [16]:
ws=sheet.worksheet('emp1')
ws

In [18]:
ws

In [19]:
df=pd.DataFrame(ws.get_all_records())
df

    Name1  Age1
0  shakil    27
1  shohan    29
2  mejbah    29
3   shuvo    31

In [20]:
ws1=sheet.worksheet('emp2')
ws1

In [21]:
df=pd.DataFrame(ws1.get_all_records())
df

   Name2  Age2
0  noman    29
1   rony    28
2  sohan    30
3  shuvo    31

In [22]:
g1c = gspread.service_account(filename="C:\\Users\\power\\Downloads\\peaceful-crane-434511-s2-eb2d7db228e1.json")